#header {
	background-color: magenta;
}

#main {
	margin: 1% 5%;
	padding: 3% 10%;
 	background-color: #EEE;

 	display: flex;
 	flex-wrap: wrap;
 	justify-content: center;
}

.container {
	padding: 3% 7.5%;
}

#nav-bar {
	background-color: pink;
  margin: 0 25%;
}

#description-container {
	background-color: cyan;
}

#video-container {
	margin: 0 auto;
	background-color: green;

	display: flex;
	justify-content: center;
	align-content: stretch;
}

#video {
	
}

#form-container {
	background-color: yellow;
	margin: 0 auto;
}
form {
  background-color: orange;
  margin: 0 25%;
}